    /*
P O P U P
*/

/*
SMALL
*/
.popup-wrap .small-form{
    border-radius: 5px;
    width: 303px;
    height: 353px;
    padding: 30px 20px 20px;
}

.popup-wrap .small-form .close-popup{
    top: 15px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: url(../img/svg/close.svg) no-repeat center;
}

.popup-wrap .small-form .title{
    text-align: center;
    font-size: inherit;
    margin-bottom: 20px;
}

.popup-wrap .small-form .title img{
    max-height: 10px;
}

.popup-wrap .small-form .desc{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.popup-wrap .small-form .popup-form-item{
    width: 100%;
    margin-bottom: 10px;
}

.popup-wrap .small-form .popup-form-item .iti{
    width: 100%;
}

.popup-wrap .small-form .popup-form-item label{
    font-size: 8pt;
    margin-bottom: 4px;
    color: #848484;
    line-height: normal;
}
.popup-wrap .small-form .popup-form-item input,
.popup-wrap .small-form .popup-form-item select
{
    height: 28px;
    border-color: #848484;
    color: #848484;
    border-radius: 4px;
    width: 100%;
}

.popup-wrap .small-form button{
    background: #848484;
    padding: inherit;
    height: 30px;
    font-size: 10pt;
    max-width: inherit;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.popup-wrap .small-form .rule{
    font-size: 7pt;
    color: #848484;
}
.popup-wrap .small-form .rule #rule{
    vertical-align: sub;
}

/*
SQUARE
*/

.popup-wrap .square-form{
    border-radius: 10px;
    padding: 0;
    width: 511px;
    height: 502px;
    background-color: #eeeeee;
}

.popup-wrap .square-form .close-popup{
    color: #FFF;
    font-size: 10pt;
    top: -25px;
    right: 55px;
    width: 10px;
    height: 10px;
    background: url(../img/svg/close.svg) no-repeat center;
    padding-left: 35px;
    padding-bottom: 5px;
}

.popup-wrap .square-form .form-container{
    max-width: 300px;
    margin: 0 auto;
}

.popup-wrap .square-form .title{
    width: 100%;
    height: 200px;
    background: url(../img/car-from.png) no-repeat center;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}

.popup-wrap .square-form .title img{
    margin-top: 25px;
    max-height: 10px;
}

.popup-wrap .square-form .desc{
    font-size: 12pt;
    color: #000;
    font-weight: 500;
    text-align: left;
    line-height: normal;
    margin-bottom: 15px;
}

.popup-wrap .square-form .popup-form-item{
    width: 100%;
    margin-bottom: 10px;
}

.popup-wrap .square-form .popup-form-item .small-desc{
    color: #000;
    line-height: normal;
    font-size: 8pt;
    text-decoration: revert;
}

.popup-wrap .square-form .popup-form-item .iti{
    width: 100%;
}
.popup-wrap .square-form .popup-form-item input{
    height: 28px;
    border-color: #848484;
    color: #848484;
    border-radius: 4px;
    width: 100%;
}

.popup-wrap .square-form button{
    background: #848484;
    padding: 0 10px;
    height: 30px;
    font-size: 10pt;
    max-width: inherit;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 15px;
    width: max-content;
    margin: 0px 0px 10px 0;
}

.popup-wrap .square-form .rule{
    font-size: 7pt;
    color: #848484;
}
.popup-wrap .square-form .rule #rule{
    vertical-align: sub;
    margin-left: 0;
}

/*
LAND
*/

.popup-wrap .land-form{
    padding: 0;
    width: 750px;
    height: 300px;
    background-color: #eeeeee;
    overflow: hidden;
}

.popup-wrap .land-form .close-popup{
    left: 0px;
    top: 270px;
    color: #848484;
    font-size: 9pt;
    width: 10px;
    height: 10px;
    background: url(../img/svg/close.svg) no-repeat center;
    padding-left: 35px;
    padding-bottom: 5px;
}

.popup-wrap .land-form .row{
    width: 50%;
    float: left;
}

.popup-wrap .land-form .form-container{
    max-width: 300px;
    margin: 0 auto;
}

.popup-wrap .land-form .banner{
    width: 100%;
    height: 300px;
    background: url(../img/car-land.png) no-repeat center;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.popup-wrap .land-form .title{
    text-align: center;
    font-size: inherit;
    margin-bottom: 10px;
    margin-top: 20px;
}

.popup-wrap .land-form .title img{
    max-height: 10px;
}

.popup-wrap .land-form .desc {
    font-size: 10pt;
    color: #000;
    font-weight: 500;
    text-align: left;
    line-height: normal;
    margin-bottom: 10px;
}

.popup-wrap .land-form .popup-form-item .small-desc{
    color: #000;
    line-height: normal;
    font-size: 8pt;
    text-decoration: revert;
}

.popup-wrap .land-form .popup-form-item{
    width: 100%;
    margin-bottom: 8px;
}

.popup-wrap .land-form .popup-form-item .iti{
    width: 100%;
}
.popup-wrap .land-form .popup-form-item input{
    height: 28px;
    border-color: #848484;
    color: #848484;
    border-radius: 4px;
    width: 100%;
}

.popup-wrap .land-form button{
    background: #5587cc;
    padding: 0 10px;
    height: 30px;
    font-size: 10pt;
    max-width: inherit;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 15px;
    width: max-content;
    margin: 0px 0px 10px 0;
}

.popup-wrap .land-form .rule{
    font-size: 7pt;
    color: #848484;
}
.popup-wrap .land-form .rule #rule{
    vertical-align: sub;
    margin-left: 0;
}

@media screen and (max-width: 375px) {
    .popup-wrap .land-form .banner{
        display: none;
    }
    .popup-wrap .land-form .row{
        width: 100%;
    }
    .popup-wrap .land-form .close-popup{
        top: 10px;
    }
}
